.fig-story70 {
  width: 70%;
  margin-left: 10%;
}

.fig-story95 {
  width: 95%;
  margin-left: 5%;
}

#cr-artner > p {
  margin-left: 10%;
}

#title-block-header {
  min-height: 100vh;
  
}


.border1{
  border: 1px solid darkgrey;
}

.quarto-title {
  margin-top: 25%;
  margin-bottom: 15%;
}

.narrative-col h1, .narrative-col h2, .narrative-col a {
  color: #fff !important;
}


.sticky-col strong {
  color: #E07B00;
  font-weight: 900;
}