

.border-round {
  border-radius: 7px;
  border: 1px lightgrey solid;
}

.border1{
  border: 1px solid darkgrey;
}


.bigger-font {
  font-size: 2em !important;
}

.text-center {
  text-align: center;
}


strong {
  color: #6DA5D5;
}

.text-center {
  text-align: center;
}

/* footer logo */
slides > slide:not(.nobackground):before {
  width: 0px;
  height: 0px;
  background-size: 0px 0px;
}


/* footer link to slides */
.myfooter {
  height: 0px;
  position: absolute;
  bottom: 5%;
  width: 85%;
  text-align: center;
  font-size: 0.9em;
}

.grey-bg {
  background-color: #f6f6f6;
  border: 2px lightgrey solid;
  border-radius: 7px;
  padding: 10px;
}


/* --------- LINKS --------- */
a:link {
    color: grey;
    border-bottom: 1px solid grey;
}

a:visited {
    color: grey;
    border-bottom: 1px solid grey;
}

a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

a:active {
    color: grey;
    border-bottom: 1px solid grey;
}




/* --------- references on slides --------- */
.citation {
  /*float: right;*/
  color: grey;
  opacity: .6;
  font-size: .7em;
}

.citation > a {
  border-bottom: 0 !important;
}


/* ------------- highlighting ------------- */
.highlight-bright {
  background-color: #fef0df; /*#F29400*/
  padding: 10px;
  border-radius: 7px;
}

.highlight-grey {
  background-color: #f9f9f9;
  border-radius: 7px;
}

.highlight-text {
  color: #F29400;
  font-weight: bold;
}