.fig-story {
  width: 50%;
  margin-left: 10%;
}

#cr-artner > p {
  margin-left: 10%;
}

#title-block-header {
  min-height: 100vh;
  
}

.quarto-title {
  margin-top: 25%;
  margin-bottom: 15%;
}

.narrative-col h1, .narrative-col h2 {
  color: #fff;
}


.sticky-col strong {
  color: #E07B00;
  font-weight: 900;
}